<% extend("layout") %>
<div id='news-feed'>
  <div id='select-post-category-option'>
    <button id='post-category-1' class='btn btn-primary post-category' type='submit'>Cung cấp</button>
    <button id='post-category-2' class='btn btn-primary post-category' type='submit'>Cần tìm</button>
  </div>
    
  <div id='create-post'>
    <form method='POST' action='/catalog/post_submit'>
      <div>
        Đăng tin | <a href='#'>Ảnh/video</a> | <a href='#'>Tệp</a>
      </div>
      
      <div>
        <textarea class="form-control" rows="5" name='content' placeholder='Nội dung đăng ...'></textarea>
      </div>
      <div>
        <textarea class="form-control" rows="5" name='condition' placeholder='Điều kiện ...'></textarea>
      </div>
      
      <div class='float-left'>
        Thể loại: 
          <select>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
          </select>
            
      </div>
      <button id='post-button' class='btn btn-primary float-right' type='submit'>Đăng</button>
      <div class='clear-both'></div>
    </form>
    
  </div>

  <% for (let post of posts) { %>
    <div class='post'>
        <div class='post-info'>
          <a href='#' class='float-left'><img src='<%= post.poster.avatar %>' /></a>
          <div class='float-left'>
            <div id='poster'> <%= post.poster.name %> </div>
            <div id='created'> <%= "" + post.created_p.getHours() + ":" + post.created_p.getMinutes() + " " + post.created_p.getDate() + "/" + (post.created_p.getMonth() + 1) + "/" + post.created_p.getFullYear() %> </div>
          </div>
        </div>
        <div class='clear-both'></div>
    
        <div class='post-content'>
          <P> <%= post.content_p %> </P>
        </div>
    
        <div class='exchange-condition'>
          Điều kiện trao đổi: &nbsp; <%= post.exchange_condition %>
        </div>
    
        <div class='post-interactive'>
          <button class='btn btn-primary comment-button' type='submit'>Bình luận</button>
        </div>
      </div>
    <% } %>